
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/primeiro.css">
    <link rel="stylesheet" href="~/css/media.css">
    <link href="https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold" rel="stylesheet">
    <link rel="stylesheet" href="~/fonte/fonts.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/FWONK.png">
    <title>F1</title>
</head>
  <body>
    <header>
   
        <img class="title" src="~/Imagens/FWONK.png" alt="Logo da Fórmula 1" width="200px" height="-200px">
   

    <ul>
        <a class="nav-link text-dark" id="u"  asp-action="Create"><button>Sobre</button></a>
        <a class="nav-link text-dark" id="v" asp-action="Create"><button>História</button></a>
        <a class="nav-link text-dark" id="y" asp-action="Create"><button>Cadastro</button></a>
        <a class="nav-link text-dark" id="t"  asp-action="Login"><button>Entrar</button></a>


    </ul>
    </header>
    <main>
    <aside>
        <h2 style="margin-top: 170px;">Conheça mais sobre a</h2>
        <h2><span>história da Fórmula 1</span></h2>

        <p>A Fórmula 1 é considerada a categoria mais importante do automobilismo mundial. Por ela, passaram nomes, como: Ayrton Senna, Michael Schumacher, Alain Prost, Nelson Piquet, Juan Manuel Fangio, Niki Lauda, Jackie Stewart, Jack Brabham e tantos outros pilotos de renome. Como em todo esporte a motor, na F1 os resultados dependem da combinação entre piloto e equipamento.</p>


        <a class="nav-link text-dark" id="saiba" asp-action="Create"><button>Saiba mais</button></a>

    </aside>

    <article>
        <div class="imagem">
            <img src="Imagens/pngimg.com - formula_1_PNG39.png" alt="Carro de Fórmula 1">
        </div>
    </article>
    </main>
    </body>
</html>