<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <link href="https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold" rel="stylesheet">
    <link rel="stylesheet" href="~/fonte/fonts.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/FWONK.png">
    <title>Login F1</title>
</head>
<body>
    
    <header>
        <div id="title">
            <center><a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="title" src="~/Imagens/FWONK.png" alt="Logo da Fórmula 1" width="200px" height="-200px">
                </a>
            </center>
        </div>
    </header>
    
    <main>
        <center>
        <aside>
            <div class="card">
                <br/>
            <h2 style="margin-top:35px">Entre em uma conta:</h2>
            <br />
            <div class="inputs">
            <div class="form">
                <input class="input" id="email" type="text" placeholder="Email">
                <span class="input-border"></span>
            </div>
            <div class="form">
                <input class="input" id="senha" type="text" placeholder="Senha">
                <span class="input-border"></span>
            </div>
                    </div>
                    <label>
            <a class="nav-link text-dark" id="entrar" asp-area="" asp-controller="Home" asp-action="Site"><button>Entrar</button></a>
            <br />
                    </label>
            <label>
                <br />
                <a class="nav-link text-dark" id="link" asp-area="" asp-controller="Home" asp-action="Privacy" style="margin-top: 20px;margin-left: 3px">Não tem conta?</a>
             
                    </label>
            </div>

        </aside>
        </center>


        <article>
            
                <img src="~/Imagens/aaaaaaaaaaa.png" alt="Carro de Fórmula 1" width="725px">
  
        </article>
    </main>

</body>
</html>