<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loja.css">
    <link rel="stylesheet" href="~/css/media.css">
    <link href="https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold" rel="stylesheet">
    <link rel="stylesheet" href="~/fonte/fonts.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/FWONK.png">
    <title>F1</title>
</head>
<body>
    <header>
        <div id="title">
            <a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="Site">
                <img class="title" src="~/Imagens/FWONK.png" alt="Logo da Fórmula 1" width="200px" height="-200px">
            </a>
        </div>

        <ul>

            <li><a href="https://www.uol.com.br/esporte/f1/"><button class="sobre">Sobre</button></a></li>
            <li><a href="https://brasilescola.uol.com.br/educacao-fisica/formula-1.htm#:~:text=Oficialmente%2C%20a%20F%C3%B3rmula%201%20foi,as%20corridas%20aconteciam%20em%20estradas."><button>História</button></a></li>
            <li class="dropdown">
              <button>Equipes</button>
                <div class="dropdown-content">
                    <a href="https://www.redbullracing.com/int-en/"><img src="~/icones/images.png" alt="" width="70px"></a>
                    <a href="https://www.ferrari.com/en-EN/formula1"><img src="~/icones/ferrari.png" alt="" width="60px"></a>
                    <a href="https://www.mercedesamgf1.com/"><img src="~/icones/Star.png" alt="" width="55px"></a>
                    <a href="https://www.mclaren.com/racing/"><img src="~/icones/mclaren.png" alt="" width="75px"></a>
                    <a href="https://www.alpine-cars.co.uk/formula-1/f1-team.html"><img src="~/icones/alpine f1 team fan token.png" alt="" width="70px"></a>
                    <a href="https://www.sauber-group.com/"><img src="/icones/favicon_alfa-romeo-logo.png" alt="" width="65px"></a>
                    <a href="https://www.williamsf1.com/"><img src="~/icones/williams-racing-256.png" alt="" width="85px"></a>
                    <a href="https://www.haasf1team.com/"><img src="~/icones/haas-logopng.png" alt="" width="60px"></a>
                    <a href="https://alphatauri.com/en-int/"><img src="~/icones/7287397051253392912_1.png" alt="" width="75px"></a>
                    <a href="https://www.astonmartinf1.com/en-GB/"><img src="~/icones/aston-martin.png" alt="" width="70px"></a>
                </div>
            </li>
            <li><a href="https://www.formula1.com/"><button>Site Oficial</button></a></li>



        </ul>


    </header>
    <main>

		<div class="JaquetaFerrari">
			<div class="card">
				<img src="~/Imagens/IMG_7903-removebg-preview.webp" alt="" width="200px">
				<div class="card__content">
					<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="JaquetaF"><p class="card__title">Jaqueta Ferrari</p></a>
					<p class="card__description">jaqueta estilo racer com estampa inspirada em modelos vintage da ferrari.</p>
				</div>
			</div>
			<div class="ferrari">
				<p>jaqueta racer ferrari</p>
				<p>R$399,90</p>
				<p>12 x de R$38,67</p>
				<div class="radio-input">
					<label>
						<input value="value-1" name="value-radio" id="value-1" type="radio" checked="">
						<span>P</span>
					</label>
					<label>
						<input value="value-2" name="value-radio" id="value-2" type="radio">
						<span>M</span>
					</label>
					<label>
						<input value="value-3" name="value-radio" id="value-3" type="radio">
						<span>G</span>
					</label>
					<label>
						<input value="value-3" name="value-radio" id="value-3" type="radio">
						<span>GG</span>
					</label>
					<span class="selection"></span>
					<div class="compra">
						<label>
							<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="JaquetaF"><li><button>Comprar</button></li></a>
						</label>
						<label>

						</label>
					</div>
				</div>
			</div>
		</div>


		<div class="JaquetaRDB">
			<div class="card">
				<img src="~/Imagens/rdb_frente-removebg-preview.webp" alt="" width="200px">
				<div class="card__content">
					<p class="card__title">Jaqueta RedBull</p>
					<p class="card__description">jaqueta estilo racer, com estampa de patches,inspirada em modelos de corrida nascar.</p>
				</div>
			</div>
			<div class="redbullracing">
				<p>jaqueta racer RedBull</p>
				<p>R$379,90</p>
				<p>12 x de R$36,74</p>
				<div class="radio-input">
					<label>
						<input value="value-1" name="value-radio" id="value-1" type="radio" checked="">
						<span>P</span>
					</label>
					<label>
						<input value="value-2" name="value-radio" id="value-2" type="radio">
						<span>M</span>
					</label>
					<label>
						<input value="value-3" name="value-radio" id="value-3" type="radio">
						<span>G</span>
					</label>
					<label>
						<input value="value-3" name="value-radio" id="value-3" type="radio">
						<span>GG</span>
					</label>
					<span class="selection"></span>
					<div class="compra">
						<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="JaquetaRBD"><li><button>Comprar</button></li></a>
					</div>
				</div>
			</div>
		</div>
		<div class="LegoMCLaren">
			<div class="card">
				<img src="~/Imagens/42141.webp" alt="" width="200px">
				<div class="card__content">
					<p class="card__title">Lego</p>
					<p class="card__description">Os fãs de McLaren e F1 podem desfrutar de uma experiência de construção envolvente, graças a este modelo altamente detalhado.</p>
				</div>
			</div>
			<div class="Lego1">
				<p>Lego MacLaren</p>
				<p>R$1070,81</p>
				<p>12 x de R$ 89,23</p>
				<div class="compra">
					<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="LegoMC"><li><button>Comprar</button></li></a>
				</div>
			</div>
		</div>
		<div class="LegoW12">
			<div class="card">
				<img src="~/Imagens/76909-alt5.webp" alt="" width="200px">
				<div class="card__content">
					<p class="card__title">Lego W12</p>
					<p class="card__description">Um carro histórico da Fórmula 1 virou brinquedo de montar. A Mercedes W12 E Performance usada por Lewis Hamilton em 2021.</p>
				</div>
			</div>
			<div class="Lego2">
				<p>Lego W12</p>
				<p>R$ 155,00</p>
				<p>6 x de R$25,83</p>
				<div class="compra">
					<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="LegoW12"><li><button>Comprar</button></li></a>
				</div>
			</div>
		</div>
		<div class="Cartas">
			<div class="card">
				<img src="~/Imagens/cartas.png" alt="" width="180px">
				<div class="card__content">
					<p class="card__title">Hobby Box</p>
					<p class="card__description">Vivencie a adrenalina da velocidade de um GP com a coleção oficial de cards colecionáveis ​​da Fórmula 1 da Topps 2022. Colecione os grandes rivais Lewis Hamilton e Max Verstappen.</p>
				</div>
			</div>
			<div class="carta">
				<p>Hobby Box - Flagship Fórmula 1 2022 - 160 Cards - IMPORTADO</p>
				<p>R$ 999,00</p>
				<p>6 x de R$166,50</p>
				<div class="compra">
					<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="Cartas"><li><button>Comprar</button></li></a>
				</div>
			</div>
		</div>
		<div class="Jogo">
			<div class="card">
				<img src="~/Imagens/iiii.png" alt="" width="120px">
				<div class="card__content">
					<p class="card__title">Formula 1 2014</p>
					<p class="card__description">F1 2014 para PS3 é uma culminação de cinco anos de experiência desenvolvendo e entregando premiados vídeo games licenciados de FORMULA 1 e a mais acessível experiência da FORMULA ONE até hoje. </p>
				</div>
			</div>
			<div class="Jogo">
				<p>Jogo Formula 1 2014</p>
				<p>R$169,89</p>
				<p>6 x de R$28,31</p>
				<div class="compra">
					<a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="Jogo">li><button>Comprar</button></li></a>
				</div>
			</div>
		</div>
            
    </main>
</body>
</html>
