<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold" rel="stylesheet">
    <link rel="stylesheet" href="~/fonte/fonts.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Imagens/FWONK.png">
    <title>F1</title>
</head>
<body>
    <nav>
        <div id="title"><
            <a class="nav-link text-dark" id="c" asp-area="" asp-controller="Home" asp-action="Site">
                <img class="title" src="~/Imagens/FWONK.png" alt="Logo da Fórmula 1" width="200px" height="-200px">
            </a>
        </div>

        <ul>
            <a class="nav-link text-dark" id="loja" asp-area="" asp-controller="Home" asp-action="Loja"><button>Loja</button></a>
            <li><a href="https://www.uol.com.br/esporte/f1/"><button>Sobre</button></a></li>
            <li><a href="https://brasilescola.uol.com.br/educacao-fisica/formula-1.htm#:~:text=Oficialmente%2C%20a%20F%C3%B3rmula%201%20foi,as%20corridas%20aconteciam%20em%20estradas."><button>História</button></a></li>
            <li class="dropdown">
                <a href=""><button class="dropbtn">Equipes</button></a>
                <div class="dropdown-content">
                    <a href="https://www.redbullracing.com/int-en/"><img src="~/icones/images.png" alt="" width="70px"></a>
                    <a href="https://www.ferrari.com/en-EN/formula1"><img src="~/icones/ferrari.png" alt="" width="60px"></a>
                    <a href="https://www.mercedesamgf1.com/"><img src="~/icones/Star.png" alt="" width="55px"></a>
                    <a href="https://www.mclaren.com/racing/"><img src="~/icones/mclaren.png" alt="" width="75px"></a>
                    <a href="https://www.alpine-cars.co.uk/formula-1/f1-team.html"><img src="~/icones/alpine f1 team fan token.png" alt="" width="70px"></a>
                    <a href="https://www.sauber-group.com/"><img src="~/icones/favicon_alfa-romeo-logo.png" alt="" width="65px"></a>
                    <a href="https://www.williamsf1.com/"><img src="~/icones/williams-racing-256.png" alt="" width="85px"></a>
                    <a href="https://www.haasf1team.com/"><img src="~/icones/haas-logopng.png" alt="" width="60px"></a>
                    <a href="https://alphatauri.com/en-int/"><img src="~/icones/7287397051253392912_1.png" alt="" width="75px"></a>
                    <a href="https://www.astonmartinf1.com/en-GB/"><img src="~/icones/aston-martin.png" alt="" width="70px"></a>
                </div>
            </li>
            <li><a href="https://www.formula1.com/"><button class="site">Site Oficial</button></a></li>



        </ul>


    </nav>
<main>
    <aside>
        <div class="carrossel">
            <div class="container">
                <img class="container-img" src="~/Imagens/1.png" alt="" />
                <img class="container-img" src="~/Imagens/2.png" alt="" />
                <img class="container-img" src="~/Imagens/3.png" alt="" />
                <img class="container-img" src="~/Imagens/4.png" alt="" />
            </div>
        </div>
    </aside>
    <article>
        <div class="card">
            <div class="card1">
                <img src="~/Imagens/1,0.png" alt="" width="300px">
                <div class="card__content">
                    <p class="card__description">Williams adoraria ter Albon por um longo prazo – mas ele é uma propriedade importante na F1</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card2">
                <img src="~/Imagens/2_0.png" alt="" width="300px">
                <div class="card__content">
                    <p class="card__description">Alpine revela novo carro A524 "agressivo" para a temporada de 2024</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card3">
                <img src="~/Imagens/3_0.png" alt="" width="300px">
                <div class="card__content">
                    <p class="card__description">"Não é a melhor sensação" – Sainz estabelece uma meta clara para 2024, com Hamilton pronto para substituí-lo na Ferrari</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card4">
                <img src="~/Imagens/4_1.png" alt="" width="300px">
                <div class="card__content">
                    <p class="card__description">"George é o nosso futuro" – Wolff elogia Russell apesar de desafiar a temporada de 2023 na Mercedes</p>
                </div>
            </div>
        </div>
    </article>
</main>
    <footer>
        <button onclick="window.location.href='https://www.instagram.com/f1/?hl=pt'"><i class="fa-brands fa-instagram"></i></button>
        <button onclick="window.location.href='https://www.youtube.com/channel/UCB_qr75-ydFVKSF9Dmo6izg'"><i class="fa-brands fa-youtube"></i></button>
        <button onclick="window.location.href='https://github.com/FelixdarioTI'"><i class="fa-brands fa-github"></i></button>
    </footer>
	<!--<script src="~/js/script.js"></script>-->
</body>
</html>