@import url(https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold);

body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Formula1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -490px;
    margin-left:90px;
}
ul{
    margin-top: 30px;
    margin-left:700px;
    inline-size:max-content;
}
.title{
    margin-left: -200px;
}

li {
    display: inline-block;
    margin: 10px;
}

button {
    font-family: Formula1;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: rgb(232, 0, 0);
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(232, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(232, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

    button::before {
        font-family: Formula1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: rgb(232, 0, 0);
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(232,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(232,0,0,0.27);
        transition: all 250ms
    }

    button:hover {
        color: #e8e8e8;
    }

        button:hover::before {
            width: 100%;
        }

headr li {
    display: inline-block;
}

    header li a {
        border-radius: 15px;
        display: inline-block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 15px;
    }


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a {
        display: inline-block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

 
}
.card {
    margin-top: 10%;
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
}

article {
    color: #777;
    margin: 15px;
    line-height: 15px;
    font-size: 13px;
}

.radio-input label:has(input:checked) {
    color: #000000;
}


.compra button {
    margin-left: -20%;
    font-size: 12px;
    margin-top: -6px;
}

.